{% set ofertaUrl = path('oferta', { 'ciudad': oferta.ciudad.slug, 'slug': oferta.slug }) %}
{% set tiendaUrl = path('tienda_portada', {'ciudad': oferta.ciudad.slug, 'tienda': oferta.tienda.slug}) %}
{% set expirada = oferta.fechaExpiracion | date('YmdHis') < 'now' | date('YmdHis') %}
{% set comprada = comprada | default(false) %}

<section class="oferta mini">
    <div class="descripcion">
        <h2><a href="{{ ofertaUrl }}">{{ oferta.nombre }}</a></h2>

        {{ oferta.descripcion | mostrar_como_lista }}

        {% if not expirada and not comprada %}
        <a class="boton" href="#">{{ "deal.inc.buy" | trans }}</a>
        {% endif %}

        <div class="estado {{ expirada ? 'expirada' : '' }} {{ comprada ? 'comprada' : '' }}">
            {% if comprada %}
                {% trans with { '%time%' : fechaCompra | date('d/m/Y') } %}
                deal.inc.purchased %time%
                {% endtrans %}
            {% elseif not expirada %}
            <!-- <div class="tiempo"> -->
            <div id="tiempo" class="tiempo">
                {% trans with { '%time%' : oferta.fechaExpiracion | cuenta_atras } %}
                <strong>deal.inc.remaining-time</strong>: %time%
                {% endtrans %}
            </div>
            {% else %}
                {% trans with { '%time%' : oferta.fechaExpiracion | date('d/m/Y') } %}
                deal.inc.expired %time%
                {% endtrans %}
            {% endif %}
        </div>
    </div>

    <div class="galeria">
        <img alt="Fotografía de la oferta" src="{{ asset(directorio_imagenes ~ oferta.foto) }}">
        <p class="precio">
            {{ oferta.precio }} &euro;
            <span>{{ descuento(oferta.precio, oferta.descuento) }}</span>
        </p>
        <p>
            {{ "deal.inc.shop-address" | trans }}
            <a href="{{ tiendaUrl }}">{{ oferta.tienda.nombre}}</a>
        </p>
    </div>
</section>
