{% set expirada = oferta.fechaExpiracion | date('YmdHis') < 'now' | date('YmdHis') %}
{% set ofertaUrl = path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug}) %}
{% set tiendaUrl = path('tienda_portada', {'ciudad': oferta.ciudad.slug, 'tienda': oferta.tienda.slug}) %}

<section class="descripcion">
    <h1><a href="{{ ofertaUrl }}">{{ oferta.nombre }}</a></h1>

    {{ oferta.descripcion | mostrar_como_lista }}

    {% if not expirada %}
    <a class="boton" href="#">{{ "deal.inc.buy" | trans }}</a>
    {% endif %}
</section>

<section class="galeria">
    <img alt="Fotografía de la oferta" src="{{ asset(directorio_imagenes ~ oferta.foto) }}">
    <p class="precio">
        {{ oferta.precio }} &euro;
        <span>{{ descuento(oferta.precio, oferta.descuento) }}</span>
    </p>
    <p>
        <strong>{{ "deal.inc.conditions" | trans }}</strong>
        {{ oferta.condiciones }}
    </p>
</section>

<section class="estado {{ expirada ? 'expirada' : '' }}">
    {% if not expirada %}
    <!-- <div class="tiempo"> -->
    <div id="tiempo">
        {% trans with { '%time%' : oferta.fechaExpiracion | cuenta_atras } %}
        <strong>deal.inc.remaining-time</strong>: %time%
        {% endtrans %}
    </div>

    <div class="compras">
        <strong>{{ "deal.inc.purchases" | trans }}</strong>: {{ oferta.compras }}
    </div>

    <div class="faltan">
        {% set faltan = oferta.umbral - oferta.compras %}
        {% if faltan > 0 %}
            {% trans with { '%faltan%' : faltan } %}
            deal.inc.remaining.purchases %faltan%
            {% endtrans %}
        {% else %}
            {% trans with { '%umbral%' : oferta.umbral } %}
            deal.inc.remaining.completed %umbral%
            {% endtrans %}
        {% endif %}
    </div>
    {% else %}
    <div class="tiempo">
        {% trans with { '%time%' : oferta.fechaExpiracion | date() } %}
        deal.inc.expired %time%
        {% endtrans %}
    </div>

    <div class="compras">
        <strong>{{ "deal.inc.purchases" | trans }}</strong>: {{ oferta.compras }}
    </div>
    {% endif %}
</section>

<section class="direccion">
    <h2>{{ "deal.inc.shop-address" | trans }}</h2>
    <p>
        <a href="{{ tiendaUrl }}">{{ oferta.tienda.nombre }}</a><br/>
        {# Mostrar la dirección de la tienda en varias líneas #}
        {{ oferta.tienda.direccion | nl2br }}
    </p>
</section>

<section class="tienda">
    <h2>{{ "deal.inc.shop-about" | trans }}</h2>
    {# Mostrar la descripción de la tienda en varias líneas cortas #}
    {{ oferta.tienda.descripcion | wordwrap(40) | nl2br }}
</section>