<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %} | Cupon</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.png') }}" />
        {% block rss %}{% endblock %}
    </head>

    <body id="{% block id '' %}"><div id="contenedor">
        {% block body %}{% endblock %}

        <footer>
            &copy; {{ 'now' | date('Y') }} - Cupon
            <a href="{{ path('pagina_estatica', { 'pagina': 'ayuda' }) }}">
                {{ "menu.help" | trans({}, 'menus') }}
            </a>
            <a href="{{ path('pagina_estatica', { 'pagina': 'contacto' }) }}">
                {{ "menu.contact" | trans({}, 'menus') }}
            </a>
            <a href="{{ path('pagina_estatica', { 'pagina': 'privacidad' }) }}">
                {{ "menu.privacy" | trans({}, 'menus') }}
            </a>
            <a href="{{ path('pagina_estatica', { 'pagina': 'sobre-nosotros' }) }}">
                {% trans from 'menus' %}menu.about{% endtrans %}
            </a>

            {% set locale = app.request.session.locale %}
            {% if locale == 'es' %}
                <span>{{ "lang.spanish" | trans({}, 'menus') }}</span>
                <a href="{{ path('portada', { '_locale': 'en' }) }}">{{ "lang.english" | trans({}, 'menus') }}</a>
            {% elseif locale == 'en' %}
                <a href="{{ path('portada', { '_locale': 'es' }) }}">{{ "lang.spanish" | trans({}, 'menus') }}</a>
                <span>{{ "lang.english" | trans({}, 'menus') }}</span>
            {% endif %}
        </footer>

        {% block javascripts %}{% endblock %}
    </div></body>
</html>

