{% extends '::base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.has('ciudad')
        ? app.request.attributes.get('ciudad')
        : ciudad_por_defecto %}
{% set ciudadUrl = path('ciudad_recientes', { 'ciudad': ciudadSeleccionada}) %}

{% block stylesheets %}
    <link href="{{ asset('bundles/oferta/css/normalizar.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/oferta/css/comun.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ asset('bundles/oferta/css/frontend.css') }}"
          rel="stylesheet" type="text/css">
{% endblock %}

{% block javascripts %}{% endblock %}

{% block body %}
    <header>
        <h1><a href="{{ path('portada') }}">CUPON</a></h1>
        <nav>
            <ul>
                <li><a href="{{ path('portada') }}">
                    {{ "menu.daily-deal" | trans({}, 'menus') }}
                </a></li>
                <li><a href="{{ ciudadUrl }}">
                    {{ "menu.city-deals" | trans({}, 'menus') }}
                </a></li>
                <li><a href="{{ path('usuario_compras') }}">
                    {% trans from 'menus' %}menu.my-deals{% endtrans %}
                </a></li>

                <li>{% render "CiudadBundle:Default:listaCiudades" with {'ciudad': ciudadSeleccionada} %}</li>
            </ul>
        </nav>
    </header>

    <article>
        {% block article %}{% endblock %}
    </article>

    <aside>
        <section id="login">
            {% render 'UsuarioBundle:Default:cajaLogin' %}
        </section>

        {% block aside %}
        {% endblock %}
    </aside>
{% endblock %}
