{% extends '::frontend.html.twig' %}

{% block id 'usuario' %}
{% block title %}Ver / Modificar mis datos{% endblock %}

{% block article %}
<h1>{{ block('title') }}</h1>

<form action="{{ path('usuario_perfil') }}" method="post" {{form_enctype(formulario) }}>
    <div class="errors">
        {{ form_errors(formulario) }}
    </div>

    <fieldset>
        <legend>Datos personales</legend>

        {{ form_row(formulario.nombre) }}
        {{ form_row(formulario.apellidos) }}
        {{ form_row(formulario.fecha_nacimiento) }}
        {{ form_row(formulario.dni) }}

        <div>
            <strong>{{ form_label(formulario.direccion, 'Dirección postal') }}</strong>
            <div class="error">{{ form_errors(formulario.direccion) }}</div>
            <span>
                {{ form_widget(formulario.direccion, { 'attr': {
                    'accesskey' : 'd',
                    'tabindex'  : 5,
                    'class'     : 'destacado',
                    'cols'      : 25,
                    'rows'      : 3
                } }) }}
            </span>
        </div>
    </fieldset>

    <fieldset>
        <legend>Datos de acceso</legend>

        {{ form_row(formulario.email) }}
        {{ form_row(formulario.password) }}
    </fieldset>

    <fieldset>
        <legend>Datos económicos</legend>

        {{ form_row(formulario.numero_tarjeta) }}
        {{ form_row(formulario.ciudad) }}
    </fieldset>

    <div>
        {{ form_errors(formulario.permite_email) }}
        {{ form_widget(formulario.permite_email) }}
        <span>Me gustaría recibir el boletín de ofertas de Cupon</span>
    </div>

    {{ form_rest(formulario) }}

    <input class="boton" type="submit" value="Guardar cambios" />
</form>
{% endblock %}

{% block aside %}{% endblock %}
