{% extends '::frontend.html.twig' %}

{% block title %}
{{ "deal.detail.title %deal%" | trans({'%deal%': oferta.nombre}) }}
{% endblock %}

{% block id 'oferta' %}

{% block article %}
    {% include 'OfertaBundle:Default:includes/oferta.html.twig' %}
{% endblock %}

{% block aside %}
    {{ parent() }}

    <section id="relacionadas">
        <h2>{{ "deal.detail.other-cities" | trans }}</h2>
        <ul>
            {% for oferta in relacionadas %}
            {% set ofertaUrl = path('oferta', {'ciudad': oferta.ciudad.slug, 'slug': oferta.slug}) %}
            <li>
                {{ oferta.ciudad.nombre }}:
                <a href="{{ ofertaUrl }}">{{ oferta.nombre }}</a>
            </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
